#ficha {
    margin-left: 60px ;
}
#Descripción{
    margin-top: 40px;

}

/* #baño{
    margin-left: 170px;
    margin-right: 9px;
}
#dormitorio{
    margin-left: 20px;
    margin-right: 9px;
} 
#m2{
    margin-left: 20px;
    margin-right: 9px;
}
    */
/* #informacion{
    margin-top: 100px;
    margin-right: 120px;
    background-color: #f29d9e;
    border-radius: 30px;
    max-height: 200px;
    text-decoration-color: gray;
    
} */

#contenedor{
    box-shadow: 7px;
}